.background {
  fill: white;
  cursor: move;
  stroke: none !important;
}
#parentSvgNode {
  width: 100%;
  width: -webkit-calc(100%);
  width: -moz-calc(100%);
  overflow: auto;
  height: 100%;
}

.node {
  fill: white;
  stroke: black;
  stroke-width: 2.5px;
  cursor: grab;
  cursor: -webkit-grab;
}

.busLine {
  stroke: black;
  stroke-width: 3px;
  stroke-opacity: 1;
  cursor: grab;
  cursor: -webkit-grab;
}

.edge {
  stroke: transparent;
  background-color: transparent;
}

.edge-aux {
  stroke: rgb(30, 30, 30);
  stroke-width: 1.5px;
  stroke-opacity: 0.85;
  background-color: transparent;
  fill: none;
}

.edge-aux-background {
  stroke: white;
  stroke-width: 4px;
  fill: none;
  background-color: transparent;
}

.edgeConnector {
  stroke: rgb(30, 30, 30);
  stroke-width: 1.5px;
  stroke-opacity: 0.85;
}

#diagram-div {
  height: 100%;
}

.loadMarker {
  stroke: black;
}

.loadPolygon {
  stroke-width: 1px;
  fill: black;
  stroke: black;
}

.connectors {
  stroke: black;
  stroke-width: 1px;
}

.clickable { 
  cursor: pointer;
}

#tooltip {
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  padding: 6.5px;
  background-color: white;
  opacity: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}

#tooltip.hidden {
  display: none;
}

.hidden {
  display: none;
}

#tooltip span {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.3;
}

#tooltip strong {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.3;
}

.toolbar-container {
  height: 22;
  text-align: right;
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
}

#diagram-div:hover > .toolbar-container {
  display: block;
}

.toolbar-icon {
  width: 16px;
  height: 16px;
  fill: rgba(68, 68, 68, 0.3);
}

.toolbar-icon:hover {
  fill: rgba(68, 68, 68, 0.7);
}
