.background {
  fill: white;
  cursor: move;
  stroke: none !important;
}
#parentSvgNode {
  width: 100%;
  width: -webkit-calc(100%);
  width: -moz-calc(100%);
  overflow: auto;
  height: 100%;
}

.node {
  fill: white;
  stroke: black;
  stroke-width: 2.5px;
  cursor: grab;
  cursor: -webkit-grab;
}

#diagram-div {
  height: 100%;
}

.loadMarker {
  stroke: black;
}

.loadPolygon {
  stroke-width: 1px;
  fill: black;
  stroke: black;
}

.connectors {
  stroke: black;
  stroke-width: 1px;
}

#tooltip {
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  padding: 6.5px;
  background-color: white;
  opacity: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}

#tooltip.hidden {
  display: none;
}

#tooltip span {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.3;
}

#tooltip strong {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.3;
}

.sld-tooltip-table {
  font-size: 0.84em;
  width: 100%;
  border-spacing: 0;
}
.sld-tooltip-table td,
th {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  text-align: left;
  padding: 8px;
}

.sld-tooltip-table td {
  padding-top: 2px;
  padding-bottom: 2px;
}
